// COLORS
$black: #000;
$white: #fff;
$dark-blue-100: #1f2041;
$dark-blue-75: rgba(#1f2041, 0.75);
$dark-blue-50: rgba(#1f2041, 0.5);
$dark-blue-25: rgba(#1f2041, 0.25);
$dark-blue-5: rgba(#1f2041, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

//breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;